bin

DesignTimeResolveAssemblyReferencesInput.cache
HomeTask.Core.csproj.FileListAbsolute.txt

HomeTask.Managers.csproj.FileListAbsolute.txt
HomeTask.Managers.csprojResolveAssemblyReference.cache
HomeTask.Managers.dll
HomeTask.Managers.pdb
ResolveAssemblyReference.cache
HomeTask.Models.csproj.FileListAbsolute.txt
HomeTask.Models.csprojResolveAssemblyReference.cache
HomeTask.Models.dll
HomeTask.Models.pdb
HomeTask.Repository.csproj.FileListAbsolute.txt
HomeTask.Repository.csprojResolveAssemblyReference.cache
HomeTask.Repository.dll
HomeTask.Repository.pdb
DesignTimeResolveAssemblyReferences.cache
HomeTask.csproj.FileListAbsolute.txt
HomeTask.csprojResolveAssemblyReference.cache
HomeTask.dll
HomeTask.pdb
ResolveAssemblyReference.cache

/HomeTask/HomeTask.Core/obj/Debug/HomeTask.Core.csprojResolveAssemblyReference.cache
/HomeTask/HomeTask.Core/obj/Debug/HomeTask.Core.dll
/HomeTask/HomeTask.Core/obj/Debug/HomeTask.Core.pdb
/HomeTask/HomeTask.DataAccessLayer/obj/Debug/HomeTask.DataAccessLayer.csproj.FileListAbsolute.txt
/HomeTask/HomeTask.DataAccessLayer/obj/Debug/HomeTask.DataAccessLayer.csprojResolveAssemblyReference.cache
/HomeTask/HomeTask.DataAccessLayer/obj/Debug/HomeTask.DataAccessLayer.dll
/HomeTask/HomeTask.DataAccessLayer/obj/Debug/HomeTask.DataAccessLayer.pdb
