@model HomeTask.Core.ViewModels.SubjectListViewModel
<table class="table table-bordered">
    <tr>
        <th>
            #
        </th>
        <th>
            @Html.LabelFor(x => x.SubjectViewModels.FirstOrDefault().Name)
        </th>
    </tr>
    @{ var index = 0;}
    @foreach (var subject in Model.SubjectViewModels)
    {
        index++;
        <tr>
            <td>
                @index;
            </td>
            <td>
                @subject.Name
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Редактировать предметы")
