@model IEnumerable<string>

<table class="table table-bordered">
    <tr>
        <th>
            #
        </th>
        <th>
            Имя
        </th>
    </tr>
    @{ var index = 0;}
    @foreach (var student in Model)
    {
        index++;
        <tr>
            <td>
               @index;
            </td>
            <td>
                @student
            </td>
        </tr>
    }
</table>
