@using System.Web.Mvc
@using System.Web.Mvc.Html
@model HomeTask.Core.ViewModels.GroupViewModel
@using (Html.BeginForm("EditGroup", "AdminGroup", FormMethod.Post, new { @class = "product-form"}))
{
    @Html.HiddenFor(x => x.ID)
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;</button>
        <h3>
            Редактировать группу</h3>
    </div>
    <div class="modal-body">
        Html.RenderPartial("Partial/AddEditGroupFields", Model);
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Сохранить"/>
        <a href="#" class="btn close-modal-window">Закрыть</a>
    </div>
}